* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inclusive Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.page-layout {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px;
}

/* Background */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/bg-ai.png") no-repeat center center / cover;
    z-index: -1;
}

/* Container */
.login-container {
    width: 440px;
    margin: 0 auto;
    text-align: center;
    padding: 28px 28px 32px;
}

/* Logo */
.logo {
    width: 390px;
    margin-bottom: 25px;
}

/* Input Group */
.input-group {
    margin: 15px auto;
    width: 100%;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 16px 50px 16px 20px;
    background: #023047;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #FFB703;
    opacity: 0.9;
    outline: none;
    font-family: 'Work Sans', sans-serif;
}

.input-group input::placeholder {
    color: #FFB703;
    opacity: 0.6;
}

.input-group input:focus {
    background: #023047;
    color: #FFB703;
    opacity: 0.9;
}

.input-group input:-webkit-autofill,
.input-group input:-webkit-autofill:hover,
.input-group input:-webkit-autofill:focus,
.input-group input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #023047 inset !important;
    -webkit-text-fill-color: #FFB703 !important;
    background-color: #023047 !important;
    font-family: 'Work Sans', sans-serif !important;
}

.input-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFB703;
    font-size: 18px;
    opacity: 0.7;
    pointer-events: none;
}

/* Login Button */
.btn-login {
    width: 70%;
    padding: 14px;
    margin-top: 12px;
    background: #FFB703;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    color: #023047;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Fira Code', monospace;
}

.btn-login:hover {
    opacity: 0.85;
}

/* Alert Box */
.alert-box {
    background: #ff4d4d;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    font-size: 14px;
    color: #FB8500;
    text-align: center;
    width: 100%;
    max-width: 550px;
    margin-top: auto;
    padding-bottom: 15px;
}
